#include "resource.h"
#include <windows.h>

IDR_LOGO            RCDATA "logo.png"
IDR_INFO_IMAGE      RCDATA "logo.png"
IDR_CLICK_SOUND     RCDATA "clicksound.mp3"
IDR_CLICK_SOUND_1   RCDATA "clicksound_1.mp3"
IDR_CLICK_SOUND_2   RCDATA "clicksound_2.mp3"
IDR_WATERMARK_IMAGE RCDATA "azyrewatermark.png"
IDR_FONT            RCDATA "ProductSans.ttf"
IDR_GITHUB_INI      RCDATA "github.ini"
IDR_COMBAT_ICON      RCDATA "CategoryImage/Combat.png"
IDR_MOVEMENT_ICON    RCDATA "CategoryImage/Movement.png"
IDR_VISUALS_ICON     RCDATA "CategoryImage/Visuals.png"
IDR_MISC_ICON        RCDATA "CategoryImage/Misc.png"
IDR_TERMINAL_ICON    RCDATA "terminal.png"
IDR_INFO_ICON        RCDATA "CategoryImage/Info.png"
IDR_IRC_ICON         RCDATA "CategoryImage/IRCChat.png"
IDR_LIKE_ICON           RCDATA "MarketAssets/Like.png"
IDR_DOWNLOAD_ICON       RCDATA "MarketAssets/Download.png"
IDR_CONFIG_MARKET_ICON  RCDATA "CategoryImage/ConfigMarket.png"
IDR_BLUR_PIXEL_SHADER   RCDATA "blur_ps.hlsl"
IDR_BLUR_VERTEX_SHADER  RCDATA "blur_vs.hlsl"

// Additional fonts
IDR_FONT_GOOGLE_SANS    RCDATA "Fonts/GoogleSans-Regular.ttf"
IDR_FONT_INTER          RCDATA "Fonts/Inter-Regular.ttf"
IDR_FONT_JETBRAINS_MONO RCDATA "Fonts/JetBrainsMono-Regular.ttf"
IDR_FONT_MINECRAFT      RCDATA "Fonts/Minecraft.ttf"
IDR_FONT_SF_PRO         RCDATA "Fonts/SF-Pro-Text-Regular.ttf"
IDR_FONT_POPPINS        RCDATA "Fonts/Poppins-Regular.ttf"
IDR_FONT_PLAYFAIR       RCDATA "Fonts/PlayfairDisplay-Regular.ttf"

// Replace assets
IDR_TITLE_ORIGINAL      RCDATA "Replace/titleOriginal.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040a04b0"
        BEGIN
            VALUE "CompanyName",      "an4rch Development\0"
            VALUE "FileDescription",  "Azyre Client\0"
            VALUE "FileVersion",      "1.1.0\0"
            VALUE "InternalName",     "Azyre Client\0"
            VALUE "LegalCopyright",   "an4rch Development | https://anarchdevelopment.github.io/\0"
            VALUE "OriginalFilename", "aegledll.dll\0"
            VALUE "ProductName",      "Azyre Client\0"
            VALUE "ProductVersion",   "1.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40a, 1200 
    END
END
